@font-face {
  font-family: fonte;
  src: url(fonte/BarlowSemiCondensed-Light.ttf);
}


@font-face {
  font-family: fonte;
  src: url(fonte/BarlowSemiCondensed-Light.ttf);
}

@font-face {
  font-family: header;
  src: url(fonte/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: titulos;
  src: url(fonte/Rajdhani-Bold.ttf);
}


* {

  margin: 0;
  padding: 0;
  border: solid rd;


}

header {

font-family: header;
font-size: 135%;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a {

    text-decoration: none;
    color: black;
  
  
  }
  
  header a:visited {
  
    text-decoration: none;
    color: black;
  
  
  }
  
  .container-header {
  
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  
  
  }
  
  .container-header>a {
  
    text-decoration: none;
  
  }
  
  .container-header .logo {
  
    width: 150px;
    height: 80px;
    margin-top: 1.5rem;

  
  }
  
  .iconc {
  
  width: 30px;
  height: 30px;
  
  
  }
  
  
  .toggle {
    position: relative;
    width: 73px;
    user-select: none;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 33px;
  }
  
  .toggle-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50px;
  }
  
  .toggle-inner {
    display: block;
    width: 100%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .toggle-inner:before,
  .toggle-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    box-sizing: border-box;
   
  }
  
  .toggle-inner:before {
    content: "";
    padding-left: 8px;
    background-color: #FFFFFF;
    color: #000000;
  
  }
  
  .toggle-inner:after {
    content: "";
    padding-right: 8px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: right;
  
  }
  
  .toggle-switch {
    display: block;
    width: 25px;
    height: 25px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    border: 1px solid #000000;
    border-radius: 100px;
    transition: all 0.3s ease-in 0s;
    background-image: url(img/cicon.jpg);
    background-size: cover;
  }
  
  .toggle-checkbox:checked+.toggle-label .toggle-inner {
    margin-left: 0;
  }
  
  .toggle-checkbox:checked+.toggle-label .toggle-switch {
    right: 0px;
    background-color: #000000;
    background-image: url(img/gicon.jpg);
  }
  
  .bottom-line {
    position: relative;
    cursor: pointer;
  }
  
  .bottom-line::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0px;
    background-color: rgb(6, 6, 6);
    transform: scaleX(0.0);
    opacity: .8;
    width: 100%;
    transition: all .3s ease-in-out 0s;
  }
  
  .bottom-line:hover::after {
    transform: scaleX(1.0);
  }
  
  header .a {
  
  padding-top: 5%;
  
  }
  
  .dark-mode .a {
  
    background-color: black;
    
    }
  
    .dark-mode header {
  
  background-color: black;
  
    }
  
    .dark-mode .container-header>a {
  
  color: white;
  
    }

    .dark-mode header img {
  

  filter: brightness(5000%);
  margin-bottom: 5%;
  
    }
  
    .dark-mode .bottom-line::after {
  
      background-color: white;
  
  }
  .dark-mode .todo{
    background-color: #000000;
  }
  
  .dark-mode h1{
    color: #ffffff;
  }
  
  .dark-mode h2{
    color: #ffffff;
  }
  
    .dark-mode .artigo-equipe {
  
  background-color: black;
  
    }
  
    .dark-mode .artigo-equipe>h2 {
  
  color: white;
  
    }
  
    .dark-mode .artigo-equipe>p {
  
  color: white;
  
    }
  
.titulo-1 {
    
padding-top: 5%;

}

.titulo-2 {

margin-top: 5%;
margin-bottom: 5%;

}

h1,h2,p{


font-family: titulos;

}

.imagem1 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img1.png);
    background-size: 100%;
}

.imagem2 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img2.png);
    background-size: 100%;
}

.imagem3 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img3.png);
    background-size: 100%;
}

.imagem4 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img4.png);
    background-size: 100%;
}

.imagem5 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img5.png);
    background-size: 100%;
}

.imagem6 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img6.png);
    background-size: 100%;
}

.imagem7 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img7.png);
    background-size: 100%;
}

.imagem8 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img8.png);
    background-size: 100%;
}

.imagem9 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img9.png);
    background-size: 100%;
}

.imagem10 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img10.png);
    background-size: 100%;
}

.imagem11 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img11.png);
    background-size: 100%;
}


.imagem12 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img12.png);
    background-size: 100%;
}

.imagem13 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img13.png);
    background-size: 100%;
}

.imagem14 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img14.png);
    background-size: 100%;
}

.imagem15 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img15.png);
    background-size: 100%;
}

.imagem16 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img16.png);
    background-size: 100%;
}

.imagem17 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img17.png);
    background-size: 100%;
}

.imagem18 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img18.png);
    background-size: 100%;
}

.imagem19 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img19.png);
    background-size: 100%;
}

.imagem20 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img20.png);
    background-size: 100%;
}

.imagem21 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img21.png);
    background-size: 100%;
}

.imagem22 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img22.png);
    background-size: 100%;
}


.imagem23 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img23.png);
    background-size: 100%;
}


.imagem24 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img24.png);
    background-size: 100%;
}

.imagem25 {
    height: 220px;
    width: 450px;
    background-image: url(img-ongs/img25.png);
    background-size: 100%;
}



.container-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}


.onglista {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2vh 1vw;
  background-image: url(img-ongs/underong.jpg);
  background-size: 100%;
  border-radius: 0 0 15px 15px;
}

.onglista span {
  font-size: 75%;
}

.onglista h3 {
margin: 0;
color: #ffffff;
font-size: 100%;
}


.corpo {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: .5vh .7vw ;



}

.onglista>a {
  line-height:1em;
  letter-spacing:0.06em;
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  text-decoration:none;
  color:#fff;
  background:#e22b40;
  display:inline-block;
  padding:15px 12px 15px 15px;
  transition:background 200ms;
  border-radius:4px;
 
}
.onglista>a:hover {
  background:#ffffff;
  color: #02f938;
} 
.onglista>a:after {
  font-family: 'FontAwesome', sans-serif;
  font-weight:300;
  content: "\f105";
  margin-left:20px;
  color:#fcfcfb;
  font-size:18px;
  vertical-align:middle;
  transition:color 200ms;
}

.onglista>a:hover:after {
  color:#02f938;
}
.botao a {
  line-height:1em;
  letter-spacing:0.06em;
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  text-decoration:none;
  color:#fff;
  background:#e22b40;
  display:inline-block;
  padding:15px 12px 15px 15px;
  transition:background 200ms;
  border-radius:4px;
 
}
.botao a:hover {
  background:#ffffff;
  color: #02f938;
} 
.botao a:after {
  font-family: 'FontAwesome', sans-serif;
  font-weight:300;
  content: "\f105";
  margin-left:20px;
  color:#fcfcfb;
  font-size:18px;
  vertical-align:middle;
  transition:color 200ms;
}

.botao a:hover:after {
  color:#02f938;
}
.dark-mode .botao a {
  color:#fff;
  background: #181964;
}
.dark-mode .botao a:hover {
  background:#ffffff;
  color: #000000;
} 
.dark-mode .botao a:after {

  color:#fcfcfb;

}

.dark-mode .botao a:hover:after {
  color:#000000;
}
.dark-mode .onglista a {
  color:#fff;
  background: #181964;
}
.dark-mode .onglista a:hover {
  background:#ffffff;
  color: #000000;
} 
.dark-mode .onglista a:after {

  color:#fcfcfb;

}

.dark-mode .onglista a:hover:after {
  color:#000000;
}


/*footer*/

footer {
    background-color: rgb(0, 0, 0);
    padding: 1vw;
    color: white;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4vh 0;
}

.artigo-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 2vh;
    transition: .5s;
}

footer a:hover {
    color: rgb(187, 187, 187);
}

.footer-titulo {
    font-weight: bolder;
    margin: 2.5vh 0;
}

.redes {
    display: flex;
    justify-content: space-around;
    gap:1rem;
}

.redes i {
    font-size: 180%;
    margin-top: 1.2vh;
    color: #ffffff;
    transition: .5s;
}

.redes i:hover {
    color: rgb(187, 187, 187);
}

.direitos {
    display: flex;
    justify-content: center;
    margin: 2.5vh 0;
}


#increase-font {

  border: none;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  max-width: auto;
  max-height: auto;

}

#decrease-font {


  border: none;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  max-width: auto;
  max-height: auto;

}
